openapi: 3.0.3
info:
  title: SKAX Physical Risk AI Agent API (FastAPI)
  version: 1.0.0
  description: >
    사업장 기후 물리적 리스크 AI Agent 분석 시스템 API

    Spring Boot 서버로부터 요청을 받아 AI Agent를 통해 기후 리스크를 분석하고 결과를 반환합니다.

    주요 기능:
    - AI Agent 기반 물리적 리스크 분석
    - 비동기 작업 처리 및 상태 관리
    - 과거 재난 이력 분석
    - SSP 시나리오별 미래 리스크 전망
    - 재무 영향 분석 (AAL, CVaR)
    - 취약성 평가
    - 사업장 이전 시뮬레이션
    - 기후 변화 시뮬레이션

servers:
  - url: https://ai-api.skax.co.kr
    description: Production
  - url: https://staging-ai-api.skax.co.kr
    description: Staging
  - url: http://localhost:8000
    description: Local Development

tags:
  - name: Analysis
    description: AI Agent 기반 리스크 분석
  - name: Reports
    description: LLM 기반 리포트 생성
  - name: Simulation
    description: 시뮬레이션
  - name: Meta
    description: 메타데이터

components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: Spring Boot 서버 인증용 API Key

  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          example: ANALYSIS_FAILED
        message:
          type: string
          example: 분석 중 오류가 발생했습니다.
        detail:
          type: string
          description: 상세 오류 메시지
        timestamp:
          type: string
          format: date-time

    # ==========================================
    # Site Input Schemas
    # ==========================================

    SiteInfo:
      type: object
      required: [id, name, latitude, longitude, industry]
      properties:
        id:
          type: string
          format: uuid
          description: 사업장 ID
        name:
          type: string
          example: 대덕 데이터센터
        address:
          type: string
          example: 대전광역시 유성구 대덕대로 512
        city:
          type: string
          example: 대전광역시
        latitude:
          type: number
          format: double
          example: 36.368
        longitude:
          type: number
          format: double
          example: 127.364
        industry:
          type: string
          example: DC(Data Center)
          description: 업종
        buildingAge:
          type: integer
          description: 건물 연령 (년)
          example: 15
        buildingType:
          type: string
          description: 건물 유형
          example: 철근 콘크리트
        seismicDesign:
          type: boolean
          description: 내진설계 여부
          default: false
        floorArea:
          type: number
          format: double
          description: 연면적 (m²)
        assetValue:
          type: number
          format: double
          description: 자산 가치 (KRW)
        employeeCount:
          type: integer
          description: 직원 수

    # ==========================================
    # Analysis Request/Response Schemas
    # ==========================================

    StartAnalysisRequest:
      type: object
      required: [site]
      properties:
        site:
          $ref: '#/components/schemas/SiteInfo'
        hazardTypes:
          type: array
          description: 분석할 리스크 유형 (미지정시 전체)
          items:
            type: string
            enum: [폭염, 한파, 태풍, 홍수, 가뭄, 산불, 해안침수, 도시침수, 물부족]
          example: [폭염, 태풍, 홍수]
        priority:
          type: string
          enum: [low, normal, high]
          default: normal
          description: 분석 우선순위
        options:
          type: object
          description: 분석 옵션
          properties:
            includeFinancialImpact:
              type: boolean
              default: true
            includeVulnerability:
              type: boolean
              default: true
            includePastEvents:
              type: boolean
              default: true
            sspScenarios:
              type: array
              items:
                type: string
                enum: [SSP1-2.6, SSP2-4.5, SSP3-7.0, SSP5-8.5]
              default: [SSP2-4.5, SSP5-8.5]

    AnalysisJobStatus:
      type: object
      properties:
        jobId:
          type: string
          format: uuid
          description: 작업 ID
        siteId:
          type: string
          format: uuid
          description: 사업장 ID
        status:
          type: string
          enum: [queued, running, completed, failed]
          description: 작업 상태
        progress:
          type: integer
          minimum: 0
          maximum: 100
          description: 진행률 (%)
        currentNode:
          type: string
          example: physical_risk_score
          description: 현재 실행 중인 Agent Node
        currentHazard:
          type: string
          example: 폭염
          description: 현재 분석 중인 Hazard
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        estimatedCompletionTime:
          type: string
          format: date-time
          description: 예상 완료 시간
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            node:
              type: string
              description: 오류 발생 Node

    PhysicalRiskBarItem:
      type: object
      properties:
        hazardType:
          type: string
          example: 폭염
          description: 위험요인 유형
        score:
          type: integer
          minimum: 0
          maximum: 100
          description: 물리적 리스크 종합 점수 (0-100)
        hazardScore:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Hazard 점수 (0.0-1.0)
        exposureScore:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Exposure 점수 (0.0-1.0)
        vulnerabilityScore:
          type: number
          format: float
          minimum: 0.0
          maximum: 1.0
          description: Vulnerability 점수 (0.0-1.0)
        riskCalculationMethod:
          type: string
          example: H×E×V
          description: 리스크 계산 방법

    AnalysisOverviewResponse:
      type: object
      description: 사업장 리스크 분석 개요
      properties:
        siteId:
          type: string
          format: uuid
        analyzedAt:
          type: string
          format: date-time
        mainHazard:
          type: string
          example: 폭염
          description: 가장 높은 물리적 리스크 종류
        mainHazardScore:
          type: integer
          minimum: 0
          maximum: 100
          description: 주요 위험요인 물리적 리스크 점수
        overallRiskScore:
          type: integer
          minimum: 0
          maximum: 100
          description: 종합 리스크 점수
        riskLevel:
          type: string
          enum: [낮음, 보통, 높음, 심각]
          description: 리스크 레벨
        aal:
          type: number
          format: float
          description: 연평균 자산 손실률 (AAL, 0.0-1.0)
          example: 0.023
        annualExpectedLoss:
          type: number
          format: double
          description: 연평균 재무 손실액 (KRW) = AAL × 자산가치
          example: 230000000
        assetValue:
          type: number
          format: double
          description: 자산 가치 (KRW)
          example: 10000000000
        recommendations:
          type: array
          description: AI가 생성한 추천사항
          items:
            type: string
          example:
            - 냉각 시스템 용량 증설 검토
            - 폭염 대비 비상 전력 공급 계획 수립

    # ==========================================
    # Physical Risk Score Schemas
    # ==========================================

    PhysicalRiskScoreResponse:
      type: object
      description: Hazard별 물리적 리스크 점수
      properties:
        siteId:
          type: string
          format: uuid
        analyzedAt:
          type: string
          format: date-time
        hazardType:
          type: string
          example: 폭염
          description: 조회한 위험요인 (전체인 경우 null)
        physicalRiskScores:
          type: array
          description: Hazard별 물리적 리스크 점수
          items:
            $ref: '#/components/schemas/PhysicalRiskBarItem'

    # ==========================================
    # Past Events Schemas
    # ==========================================

    PastEventSummary:
      type: object
      properties:
        totalEvents:
          type: integer
          description: 총 이벤트 수
        severeEvents:
          type: integer
          description: 심각한 이벤트 수
        avgWarningDays:
          type: number
          format: float
          description: 평균 경보 일수
        avgSevereDays:
          type: number
          format: float
          description: 평균 심각 일수
        mostFrequentHazard:
          type: string
          description: 가장 빈번한 위험요인
        yearRange:
          type: object
          properties:
            start:
              type: integer
            end:
              type: integer

    PastEventItem:
      type: object
      properties:
        year:
          type: integer
          example: 2023
        month:
          type: integer
          example: 7
        hazardType:
          type: string
          example: 폭염
        warningDays:
          type: integer
          description: 경보 발령 일수
        severeDays:
          type: integer
          description: 심각 단계 일수
        maxIntensity:
          type: number
          format: float
          description: 최대 강도
        severityLevel:
          type: string
          enum: [경미, 주의, 심각]
        description:
          type: string
          example: 2023년 7월 폭염으로 인한 전력 수요 급증

    PastEventsResponse:
      type: object
      properties:
        siteId:
          type: string
          format: uuid
        summary:
          $ref: '#/components/schemas/PastEventSummary'
        events:
          type: array
          items:
            $ref: '#/components/schemas/PastEventItem'

    # ==========================================
    # SSP Projection Schemas
    # ==========================================

    SSPProjectionPoint:
      type: object
      properties:
        decade:
          type: string
          example: "2040s"
          description: 연대 (2030s, 2040s, ...)
        year:
          type: integer
          example: 2045
          description: 대표 연도
        physicalRiskScore:
          type: integer
          minimum: 0
          maximum: 100
          description: 물리적 리스크 점수 (0-100)
          example: 75
        aal:
          type: number
          format: float
          description: 연평균 자산 손실률 (AAL, 0.0-1.0)
          example: 0.035
        annualExpectedLoss:
          type: number
          format: double
          description: 연평균 재무 손실액 (KRW) = AAL × 자산가치
          example: 350000000
        intensity:
          type: number
          format: float
          description: 위험요인 강도
        frequency:
          type: number
          format: float
          description: 발생 빈도

    SSPScenarioProjection:
      type: object
      properties:
        scenario:
          type: string
          example: SSP5-8.5
          enum: [SSP1-2.6, SSP2-4.5, SSP3-7.0, SSP5-8.5]
        scenarioDescription:
          type: string
          example: 고탄소 시나리오 (최악의 경우)
        points:
          type: array
          items:
            $ref: '#/components/schemas/SSPProjectionPoint'

    SSPProjectionResponse:
      type: object
      properties:
        siteId:
          type: string
          format: uuid
        hazardType:
          type: string
          example: 폭염
        timeScale:
          type: string
          example: 장기
          enum: [단기, 중기, 장기]
        projections:
          type: array
          description: 시나리오별 전망
          items:
            $ref: '#/components/schemas/SSPScenarioProjection'
        adaptationActions:
          type: array
          description: AI가 제안하는 적응 조치
          items:
            type: object
            properties:
              decade:
                type: string
                example: "2030s"
              action:
                type: string
                example: 냉각 시스템 용량 50% 증설
              priority:
                type: string
                enum: [low, medium, high, critical]
              estimatedCost:
                type: number
                description: 예상 비용 (KRW)
        confidenceLevel:
          type: string
          enum: [low, medium, high]
          description: 분석 신뢰도

    # ==========================================
    # Financial Impact Schemas
    # ==========================================

    FinancialImpactItem:
      type: object
      properties:
        hazardType:
          type: string
          example: 폭염
          description: 위험요인 유형
        aal:
          type: number
          format: float
          description: 연평균 자산 손실률 (AAL, 0.0-1.0)
          example: 0.023
        annualExpectedLoss:
          type: number
          format: double
          description: 연평균 재무 손실액 (KRW) = AAL × 자산가치
          example: 230000000

    FinancialImpactResponse:
      type: object
      description: Hazard별 재무 영향 (AAL)
      properties:
        siteId:
          type: string
          format: uuid
        analyzedAt:
          type: string
          format: date-time
        hazardType:
          type: string
          example: 폭염
          description: 조회한 위험요인 (전체인 경우 null)
        assetValue:
          type: number
          format: double
          description: 자산 가치 (KRW)
          example: 10000000000
        financialImpacts:
          type: array
          description: Hazard별 재무 영향
          items:
            $ref: '#/components/schemas/FinancialImpactItem'

    # ==========================================
    # Vulnerability Schemas
    # ==========================================

    VulnerabilityItem:
      type: object
      properties:
        hazardType:
          type: string
          example: 폭염
        score:
          type: integer
          minimum: 0
          maximum: 100
          description: 취약성 점수
        level:
          type: string
          enum: [낮음, 보통, 높음, 심각]
        factors:
          type: object
          description: 취약성 요인
          properties:
            buildingAge:
              type: integer
              description: 건물 연령
            buildingAgeScore:
              type: number
              format: float
            seismicDesign:
              type: boolean
              description: 내진설계 여부
            seismicScore:
              type: number
              format: float
            firetruckAccessibility:
              type: string
              enum: [우수, 양호, 보통, 미흡]
            accessibilityScore:
              type: number
              format: float
            infrastructureQuality:
              type: string
              enum: [우수, 양호, 보통, 미흡]
            infrastructureScore:
              type: number
              format: float
        improvementActions:
          type: array
          description: 개선 조치
          items:
            type: string

    VulnerabilityResponse:
      type: object
      properties:
        siteId:
          type: string
          format: uuid
        totalScore:
          type: integer
          minimum: 0
          maximum: 100
          description: 종합 취약성 점수
        overallLevel:
          type: string
          enum: [낮음, 보통, 높음, 심각]
        siteInfo:
          type: object
          description: 사업장 정보
          properties:
            buildingAge:
              type: integer
            buildingType:
              type: string
            seismicDesign:
              type: boolean
            floorArea:
              type: number
        details:
          type: array
          description: Hazard별 취약성 상세
          items:
            $ref: '#/components/schemas/VulnerabilityItem'
        priorityActions:
          type: array
          description: 우선 조치 사항
          items:
            type: object
            properties:
              action:
                type: string
              priority:
                type: string
                enum: [low, medium, high, critical]
              estimatedCost:
                type: number

    # ==========================================
    # Total Analysis Response
    # ==========================================

    AnalysisTotalResponse:
      type: object
      description: 특정 Hazard 기준 통합 분석 결과
      properties:
        siteId:
          type: string
          format: uuid
        hazardType:
          type: string
          example: 폭염
        overview:
          $ref: '#/components/schemas/AnalysisOverviewResponse'
        pastEvents:
          $ref: '#/components/schemas/PastEventsResponse'
        sspProjection:
          $ref: '#/components/schemas/SSPProjectionResponse'
        financialImpact:
          $ref: '#/components/schemas/FinancialImpactResponse'
        vulnerability:
          $ref: '#/components/schemas/VulnerabilityResponse'
        executiveSummary:
          type: string
          description: AI가 생성한 경영진 요약 리포트
        generatedAt:
          type: string
          format: date-time

    # ==========================================
    # Simulation Schemas
    # ==========================================

    RelocationCandidate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: 평택 산업단지
        city:
          type: string
          example: 경기도 평택시
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        locationSummary:
          type: string
          example: 경기도 평택시, 산업단지 인근
        riskScore:
          type: integer
          minimum: 0
          maximum: 100
          description: 종합 리스크 점수
        riskLevel:
          type: string
          enum: [낮음, 보통, 높음, 심각]
        aal:
          type: number
          format: double
          description: Average Annual Loss (KRW)
        distance:
          type: number
          format: float
          description: 현재 사업장으로부터 거리 (km)
        estimatedCost:
          type: number
          format: double
          description: 예상 이전 비용 (KRW)
        advantages:
          type: array
          items:
            type: string
          example:
            - 홍수 리스크 낮음
            - 태풍 영향 적음
        disadvantages:
          type: array
          items:
            type: string
          example:
            - 폭염 리스크 소폭 증가

    RelocationCandidatesRequest:
      type: object
      required: [baseSiteId]
      properties:
        baseSiteId:
          type: string
          format: uuid
          description: 기준 사업장 ID (Agent가 자동으로 최적 후보지를 추천)

    RelocationSimulationRequest:
      type: object
      required: [baseSiteId, candidateLatitude, candidateLongitude]
      properties:
        baseSiteId:
          type: string
          format: uuid
          description: 기준 사업장 ID
        candidateLatitude:
          type: number
          format: double
          description: 후보지 위도
          example: 37.0892
        candidateLongitude:
          type: number
          format: double
          description: 후보지 경도
          example: 127.0548
        candidateName:
          type: string
          description: 후보지 이름 (선택사항)
          example: 평택 산업단지

    RelocationSimulationResult:
      type: object
      properties:
        baseSite:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
            riskScore:
              type: integer
            aal:
              type: number
              format: float
              description: 연평균 자산 손실률 (AAL)
            annualExpectedLoss:
              type: number
              format: double
              description: 연평균 재무 손실액 (KRW)
        candidateSite:
          type: object
          properties:
            name:
              type: string
            latitude:
              type: number
              format: double
            longitude:
              type: number
              format: double
            riskScore:
              type: integer
            aal:
              type: number
              format: float
              description: 연평균 자산 손실률 (AAL)
            annualExpectedLoss:
              type: number
              format: double
              description: 연평균 재무 손실액 (KRW)
        comparison:
          type: object
          properties:
            riskScoreDiff:
              type: integer
              description: 리스크 점수 차이 (음수면 개선)
            riskScoreDiffPercent:
              type: number
              format: float
              description: 리스크 점수 차이 비율 (%)
            aalDiff:
              type: number
              format: float
              description: AAL 차이 (음수면 개선)
            annualExpectedLossDiff:
              type: number
              format: double
              description: 연평균 재무 손실액 차이 (KRW, 음수면 절감)
        climateFactorComparison:
          type: object
          description: 기후 요인별 비교
          additionalProperties:
            type: object
            properties:
              hazardType:
                type: string
              base:
                type: integer
                description: 현재 사업장 점수
              candidate:
                type: integer
                description: 후보지 점수
              diff:
                type: integer
                description: 점수 차이
              diffPercent:
                type: number
                format: float
        pros:
          type: array
          description: 이전 시 장점
          items:
            type: string
          example:
            - 홍수 리스크 30% 감소
            - 태풍 빈도 낮음
            - 연간 예상 손실액 20억원 감소
        cons:
          type: array
          description: 이전 시 단점
          items:
            type: string
          example:
            - 폭염 리스크 10% 증가
            - 이전 비용 약 50억원
        recommendation:
          type: string
          description: AI가 생성한 추천 의견
          example: 장기적 리스크 감소를 고려할 때 이전을 권장합니다.
        financialAnalysis:
          type: object
          properties:
            relocationCost:
              type: number
              format: double
            annualSavings:
              type: number
              format: double
              description: 연간 절감 예상액
            breakEvenYears:
              type: number
              format: float
              description: 손익분기점 (년)
            npv10Years:
              type: number
              format: double
              description: 10년 순현재가치

    ClimateSimulationRequest:
      type: object
      required: [scenario, sites]
      properties:
        scenario:
          type: string
          enum: [SSP1-2.6, SSP2-4.5, SSP3-7.0, SSP5-8.5]
          example: SSP5-8.5
        hazardType:
          type: string
          example: 폭염
          description: 특정 Hazard 지정 (미지정시 전체)
        sites:
          type: array
          description: 비교할 사업장 목록
          items:
            $ref: '#/components/schemas/SiteInfo'
        startYear:
          type: integer
          example: 2025
          default: 2025
        endYear:
          type: integer
          example: 2100
          default: 2100
        timeStep:
          type: integer
          description: 시간 간격 (년)
          default: 10

    ClimateSimulationPoint:
      type: object
      properties:
        year:
          type: integer
          example: 2045
        metric:
          type: number
          format: float
          description: 측정값 (온도, 강수량 등)
        riskScore:
          type: integer
          description: 해당 시점의 리스크 점수

    ClimateSimulationSeries:
      type: object
      properties:
        siteId:
          type: string
          format: uuid
        siteName:
          type: string
        metricName:
          type: string
          example: avg_temperature
          description: 측정 지표명
        metricUnit:
          type: string
          example: "°C"
        points:
          type: array
          items:
            $ref: '#/components/schemas/ClimateSimulationPoint'

    ClimateSimulationResponse:
      type: object
      properties:
        scenario:
          type: string
          example: SSP5-8.5
        scenarioDescription:
          type: string
        hazardType:
          type: string
        series:
          type: array
          description: 사업장별 시계열 데이터
          items:
            $ref: '#/components/schemas/ClimateSimulationSeries'
        timelineActions:
          type: array
          description: 시간대별 권장 조치
          items:
            type: object
            properties:
              decade:
                type: string
                example: "2030s"
              year:
                type: integer
                example: 2035
              action:
                type: string
                example: 냉각 시스템 업그레이드
              targetSites:
                type: array
                description: 해당 조치가 필요한 사업장
                items:
                  type: string
              priority:
                type: string
                enum: [low, medium, high, critical]
              estimatedCost:
                type: number
                format: double
              expectedBenefit:
                type: string
        summary:
          type: string
          description: AI가 생성한 시뮬레이션 요약

    # ==========================================
    # Report Schemas
    # ==========================================

    ReportGenerationRequest:
      type: object
      required: [scope, reportType]
      properties:
        scope:
          type: string
          enum: [single, all]
          description: >
            - single: 단일 사업장 리포트
            - all: 전체 사업장 통합 리포트
        siteId:
          type: string
          format: uuid
          description: 사업장 ID (scope=single일 때 필수)
        siteIds:
          type: array
          items:
            type: string
            format: uuid
          description: 포함할 사업장 목록 (scope=all일 때 선택, 미지정시 전체)
        reportType:
          type: string
          enum: [summary, full, governance]
          description: >
            - summary: 요약 리포트 (5-10페이지)
            - full: 전체 리포트 (30-50페이지)
            - governance: 거버넌스 리포트 (TCFD 기반)
        includeCharts:
          type: boolean
          default: true
          description: 차트 포함 여부
        language:
          type: string
          enum: [ko, en]
          default: ko
          description: 리포트 언어
        customSections:
          type: array
          description: 포함할 커스텀 섹션
          items:
            type: string
          example: [executive_summary, risk_matrix, action_plan]

    ReportGenerationStatus:
      type: object
      properties:
        reportId:
          type: string
          format: uuid
        scope:
          type: string
          enum: [single, all]
        siteId:
          type: string
          format: uuid
          description: scope=single일 때만 존재
        siteIds:
          type: array
          items:
            type: string
            format: uuid
          description: scope=all일 때 포함된 사업장 목록
        status:
          type: string
          enum: [queued, analyzing, generating, completed, failed]
          description: 리포트 생성 상태
        progress:
          type: integer
          minimum: 0
          maximum: 100
          description: 진행률 (%)
        currentStep:
          type: string
          example: LLM으로 요약 생성 중
          description: 현재 진행 단계
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        estimatedCompletionTime:
          type: string
          format: date-time
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

    ReportContent:
      type: object
      description: LLM이 생성한 리포트 컨텐츠
      properties:
        reportId:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        siteName:
          type: string
        reportType:
          type: string
          enum: [summary, full, governance]
        language:
          type: string
          enum: [ko, en]
        generatedAt:
          type: string
          format: date-time
        sections:
          type: array
          description: 리포트 섹션들
          items:
            type: object
            properties:
              sectionId:
                type: string
                example: executive_summary
              title:
                type: string
                example: 경영진 요약
              content:
                type: string
                description: LLM이 생성한 텍스트 내용
              order:
                type: integer
                description: 섹션 순서
        executiveSummary:
          type: string
          description: LLM이 생성한 경영진 요약 (1-2페이지)
        keyFindings:
          type: array
          description: 주요 발견 사항
          items:
            type: string
        riskMatrix:
          type: object
          description: 리스크 매트릭스 데이터
          properties:
            hazards:
              type: array
              items:
                type: object
                properties:
                  hazardType:
                    type: string
                  likelihood:
                    type: string
                    enum: [낮음, 보통, 높음]
                  impact:
                    type: string
                    enum: [낮음, 보통, 높음, 심각]
                  riskLevel:
                    type: string
                    enum: [낮음, 보통, 높음, 심각]
        actionPlan:
          type: array
          description: LLM이 제안한 실행 계획
          items:
            type: object
            properties:
              priority:
                type: string
                enum: [low, medium, high, critical]
              action:
                type: string
              timeline:
                type: string
                example: 6개월 이내
              estimatedCost:
                type: number
              expectedBenefit:
                type: string
        charts:
          type: array
          description: 차트 데이터 (프론트엔드에서 렌더링용)
          items:
            type: object
            properties:
              chartId:
                type: string
              chartType:
                type: string
                enum: [bar, line, pie, scatter, heatmap]
              title:
                type: string
              data:
                type: object
                description: 차트 데이터 (형식은 chartType에 따라 다름)
        metadata:
          type: object
          properties:
            totalPages:
              type: integer
            wordCount:
              type: integer
            llmModel:
              type: string
              example: gpt-4
            generationTimeSeconds:
              type: number
              format: float

    ReportDownloadInfo:
      type: object
      properties:
        reportId:
          type: string
          format: uuid
        downloadUrl:
          type: string
          description: 리포트 다운로드 URL (임시 URL)
        format:
          type: string
          enum: [pdf, docx, json]
        fileSize:
          type: integer
          description: 파일 크기 (bytes)
        expiresAt:
          type: string
          format: date-time
          description: URL 만료 시간

    # ==========================================
    # Meta Schemas
    # ==========================================

    HazardType:
      type: object
      properties:
        code:
          type: string
          example: extreme_heat
        name:
          type: string
          example: 폭염
        nameEn:
          type: string
          example: Extreme Heat
        category:
          type: string
          enum: [temperature, water, wind, other]
          example: temperature
        description:
          type: string
          example: 일 최고기온 33도 이상이 2일 이상 지속되는 현상
        availableMetrics:
          type: array
          description: 분석 가능한 지표
          items:
            type: string
          example: [온도, 빈도, 지속시간]

paths:
  # ==========================================
  # Analysis Endpoints
  # ==========================================

  /api/v1/analysis/start:
    post:
      tags: [Analysis]
      summary: AI 리스크 분석 시작
      description: >
        AI Agent를 통해 사업장의 기후 물리적 리스크를 분석합니다.
        비동기로 처리되며 jobId를 반환합니다.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartAnalysisRequest'
      responses:
        '202':
          description: 분석 작업이 시작됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisJobStatus'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 인증 실패
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: 이미 실행 중인 작업이 있음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/analysis/status/{jobId}:
    get:
      tags: [Analysis]
      summary: 분석 작업 상태 조회
      description: 실행 중인 분석 작업의 진행 상태를 조회합니다.
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: jobId
          required: true
          schema:
            type: string
            format: uuid
          description: 작업 ID
      responses:
        '200':
          description: 작업 상태
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisJobStatus'
        '404':
          description: 작업을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/analysis/{siteId}/overview:
    get:
      tags: [Analysis]
      summary: 물리적 리스크 개요 조회
      description: 사업장의 물리적 리스크 분석 개요를 반환합니다.
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
            format: uuid
          description: 사업장 ID
      responses:
        '200':
          description: 분석 개요
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisOverviewResponse'
        '404':
          description: 분석 결과를 찾을 수 없음 (분석을 먼저 실행해야 함)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/analysis/{siteId}/physical-risk-scores:
    get:
      tags: [Analysis]
      summary: 물리적 리스크 점수 조회
      description: Hazard별 물리적 리스크 점수를 조회합니다.
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
            format: uuid
          description: 사업장 ID
        - in: query
          name: hazardType
          schema:
            type: string
            enum: [폭염, 한파, 태풍, 홍수, 가뭄, 산불, 해안침수, 도시침수, 물부족]
          description: 특정 Hazard만 조회 (미지정시 전체)
      responses:
        '200':
          description: 물리적 리스크 점수
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhysicalRiskScoreResponse'
        '404':
          description: 분석 결과를 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/analysis/{siteId}/past-events:
    get:
      tags: [Analysis]
      summary: 과거 재난 이력 조회
      description: 사업장 인근의 과거 재난 이력을 분석하여 반환합니다.
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: hazardType
          schema:
            type: string
            enum: [폭염, 한파, 태풍, 홍수, 가뭄, 산불, 해안침수, 도시침수, 물부족]
          description: 특정 Hazard만 조회 (미지정시 전체)
        - in: query
          name: startYear
          schema:
            type: integer
          description: 시작 연도
        - in: query
          name: endYear
          schema:
            type: integer
          description: 종료 연도
      responses:
        '200':
          description: 과거 재난 이력
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PastEventsResponse'
        '404':
          description: 분석 결과를 찾을 수 없음

  /api/v1/analysis/{siteId}/ssp:
    get:
      tags: [Analysis]
      summary: SSP 시나리오별 리스크 전망
      description: SSP 시나리오에 따른 미래 리스크 전망을 반환합니다.
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: hazardType
          schema:
            type: string
          description: 특정 Hazard (미지정시 주요 Hazard)
        - in: query
          name: timeScale
          schema:
            type: string
            enum: [단기, 중기, 장기]
          description: 시간 척도
      responses:
        '200':
          description: SSP 리스크 전망
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSPProjectionResponse'
        '404':
          description: 분석 결과를 찾을 수 없음

  /api/v1/analysis/{siteId}/financial-impacts:
    get:
      tags: [Analysis]
      summary: 재무 영향 조회 (AAL)
      description: Hazard별 재무 영향(AAL)을 조회합니다.
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
            format: uuid
          description: 사업장 ID
        - in: query
          name: hazardType
          schema:
            type: string
            enum: [폭염, 한파, 태풍, 홍수, 가뭄, 산불, 해안침수, 도시침수, 물부족]
          description: 특정 Hazard만 조회 (미지정시 전체)
      responses:
        '200':
          description: 재무 영향 분석
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialImpactResponse'
        '404':
          description: 분석 결과를 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/analysis/{siteId}/vulnerability:
    get:
      tags: [Analysis]
      summary: 취약성 분석
      description: 사업장의 기후 리스크에 대한 취약성을 분석하여 반환합니다.
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 취약성 분석 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityResponse'
        '404':
          description: 분석 결과를 찾을 수 없음

  /api/v1/analysis/{siteId}/total:
    get:
      tags: [Analysis]
      summary: 특정 Hazard 기준 통합 분석 결과
      description: >
        특정 Hazard에 대한 모든 분석 결과를 통합하여 반환합니다.
        (개요 + 과거이력 + SSP전망 + 재무영향 + 취약성)
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: hazardType
          required: true
          schema:
            type: string
          description: 위험요인 유형
        - in: query
          name: timeScale
          schema:
            type: string
            enum: [단기, 중기, 장기]
      responses:
        '200':
          description: 통합 분석 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisTotalResponse'
        '404':
          description: 분석 결과를 찾을 수 없음

  # ==========================================
  # Simulation Endpoints
  # ==========================================

  /api/v1/simulation/relocation/candidates:
    post:
      tags: [Simulation]
      summary: 사업장 이전 후보지 추천
      description: >
        AI Agent가 현재 사업장 대비 리스크가 낮은 후보지를 추천합니다.
        각 후보지에 대해 리스크 분석을 수행합니다.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelocationCandidatesRequest'
      responses:
        '200':
          description: 후보지 목록
          content:
            application/json:
              schema:
                type: object
                properties:
                  baseSite:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      riskScore:
                        type: integer
                  candidates:
                    type: array
                    items:
                      $ref: '#/components/schemas/RelocationCandidate'
        '400':
          description: 잘못된 요청

  /api/v1/simulation/relocation/compare:
    post:
      tags: [Simulation]
      summary: 사업장 이전 시뮬레이션 (비교)
      description: >
        현재 사업장과 후보지의 리스크를 상세 비교합니다.
        두 사업장에 대해 전체 분석을 수행하고 비교 결과를 반환합니다.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelocationSimulationRequest'
      responses:
        '200':
          description: 비교 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelocationSimulationResult'
        '400':
          description: 잘못된 요청

  /api/v1/simulation/climate:
    post:
      tags: [Simulation]
      summary: 기후 시뮬레이션
      description: >
        SSP 시나리오에 따른 미래 기후 변화를 시뮬레이션합니다.
        여러 사업장을 동시에 비교할 수 있습니다.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClimateSimulationRequest'
      responses:
        '200':
          description: 시뮬레이션 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClimateSimulationResponse'
        '400':
          description: 잘못된 요청

  # ==========================================
  # Reports Endpoints
  # ==========================================

  /api/v1/reports/generate:
    post:
      tags: [Reports]
      summary: 리포트 생성 시작
      description: >
        LLM을 사용하여 사업장 리스크 분석 리포트를 생성합니다.
        분석 데이터를 기반으로 LLM이 자동으로 텍스트를 작성합니다.
        비동기로 처리되며 reportId를 반환합니다.
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportGenerationRequest'
      responses:
        '202':
          description: 리포트 생성 작업이 시작됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportGenerationStatus'
        '400':
          description: 잘못된 요청
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: 사업장 또는 분석 결과를 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/reports/{reportId}/status:
    get:
      tags: [Reports]
      summary: 리포트 생성 상태 조회
      description: 리포트 생성 작업의 진행 상태를 조회합니다.
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: string
            format: uuid
          description: 리포트 ID
      responses:
        '200':
          description: 리포트 생성 상태
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportGenerationStatus'
        '404':
          description: 리포트를 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/reports/{reportId}/content:
    get:
      tags: [Reports]
      summary: 리포트 컨텐츠 조회
      description: >
        LLM이 생성한 리포트 컨텐츠를 JSON 형태로 반환합니다.
        Spring Boot는 이 데이터를 사용하여 PDF/Excel로 변환할 수 있습니다.
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 리포트 컨텐츠
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportContent'
        '404':
          description: 리포트를 찾을 수 없음 또는 아직 생성 중
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/reports/{reportId}/download:
    get:
      tags: [Reports]
      summary: 리포트 파일 다운로드
      description: >
        생성된 리포트 파일을 다운로드합니다.
        FastAPI가 PDF/DOCX를 직접 생성하는 경우 사용합니다.
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: reportId
          required: true
          schema:
            type: string
            format: uuid
        - in: query
          name: format
          schema:
            type: string
            enum: [pdf, docx, json]
            default: pdf
          description: 다운로드 형식
      responses:
        '200':
          description: 리포트 파일 또는 다운로드 URL
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                $ref: '#/components/schemas/ReportDownloadInfo'
        '404':
          description: 리포트를 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==========================================
  # Meta Endpoints
  # ==========================================

  /api/v1/meta/hazards:
    get:
      tags: [Meta]
      summary: 지원하는 기후 리스크(위험요인) 목록
      description: AI Agent가 분석 가능한 기후 위험요인 목록을 반환합니다.
      security:
        - apiKeyAuth: []
      parameters:
        - in: query
          name: category
          schema:
            type: string
            enum: [temperature, water, wind, other]
          description: 카테고리별 필터링
      responses:
        '200':
          description: 위험요인 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HazardType'

  /api/v1/health:
    get:
      tags: [Meta]
      summary: 헬스체크
      description: API 서버 및 AI Agent 상태를 확인합니다.
      responses:
        '200':
          description: 정상 작동 중
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: healthy
                  version:
                    type: string
                    example: 1.0.0
                  agentStatus:
                    type: string
                    enum: [ready, busy, error]
                  activeJobs:
                    type: integer
                    description: 현재 실행 중인 작업 수
                  timestamp:
                    type: string
                    format: date-time

security:
  - apiKeyAuth: []
