openapi: 3.0.3
info:
  title: SKAX Physical Risk AI Agent API
  version: 1.0.0
  description: >
    AI Agent 기반 사업장 기후 물리적 리스크 분석 API
    Super Agent 계층적 구조 (25개 에이전트)로 리스크 분석 결과를 제공합니다.

servers:
  - url: https://api.skax.co.kr
    description: Production
  - url: https://staging-api.skax.co.kr
    description: Staging

tags:
  - name: Analysis
    description: AI Agent 리스크 분석 결과 제공

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          example: INVALID_REQUEST
        message:
          type: string
          example: 잘못된 요청입니다.

    # ==========================================
    # AI Agent Analysis Schemas
    # ==========================================
    #
    # AI Agent 구조:
    # - Super Agent (25개 하위 에이전트)
    # - 데이터 처리: 2개 (데이터 수집, 취약성 분석)
    # - 리스크 분석: 18개 (물리적 리스크 9개 + AAL 9개, 병렬 실행)
    # - 보고서 생성: 5개 (템플릿, 영향 분석, 전략, 생성, 검증)
    #
    # 계산 방식:
    # - 물리적 리스크 점수: H×E×V (Hazard × Exposure × Vulnerability)
    # - AAL (Average Annual Loss): P×D×A (Probability × Damage Rate × Asset Value)
    # ==========================================

    # Analysis - Overview
    PhysicalRiskBarItem:
      type: object
      properties:
        hazardType:
          type: string
          example: 홍수 빈도
        score:
          type: integer
          description: 물리적 리스크 종합 점수 (0-100)
        # AI Agent H×E×V 상세 정보
        hazardScore:
          type: number
          format: float
          description: Hazard 점수 (0.0-1.0)
          example: 0.65
        exposureScore:
          type: number
          format: float
          description: Exposure 점수 (0.0-1.0)
          example: 0.85
        vulnerabilityScore:
          type: number
          format: float
          description: Vulnerability 점수 (0.0-1.0)
          example: 0.45
        riskCalculationMethod:
          type: string
          description: 리스크 계산 방식
          example: H×E×V
          enum: [H×E×V, AAL]

    AnalysisOverviewResponse:
      type: object
      properties:
        mainHazard:
          type: string
        mainHazardScore:
          type: integer
        expectedDamageRate:
          type: number
        physicalRiskScores:
          type: array
          items:
            $ref: '#/components/schemas/PhysicalRiskBarItem'

    # Analysis - Past Events
    PastEventSummary:
      type: object
      properties:
        totalEvents:
          type: integer
        severeEvents:
          type: integer
        avgWarningDays:
          type: number
        avgSevereDays:
          type: number

    PastEventItem:
      type: object
      properties:
        year:
          type: integer
        hazardType:
          type: string
          example: 폭염
        warningDays:
          type: integer
        severeDays:
          type: integer
        severityLevel:
          type: string
          enum: [경미, 주의, 심각]

    PastEventsResponse:
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/PastEventSummary'
        events:
          type: array
          items:
            $ref: '#/components/schemas/PastEventItem'

    # Analysis - SSP & Financial
    SSPProjectionPoint:
      type: object
      properties:
        decade:
          type: string
          example: "2040s"
        score:
          type: number

    SSPScenarioProjection:
      type: object
      properties:
        scenario:
          type: string
          example: SSP5
        points:
          type: array
          items:
            $ref: '#/components/schemas/SSPProjectionPoint'

    SSPProjectionResponse:
      type: object
      properties:
        hazardType:
          type: string
          example: 폭염
        timeScale:
          type: string
          example: 장기
        projections:
          type: array
          items:
            $ref: '#/components/schemas/SSPScenarioProjection'
        adaptationActions:
          type: array
          items:
            type: string

    FinancialImpactPoint:
      type: object
      properties:
        decade:
          type: string
        averageLossKRW:
          type: number
          format: double

    FinancialImpactScenario:
      type: object
      properties:
        scenario:
          type: string
          example: SSP5
        points:
          type: array
          items:
            $ref: '#/components/schemas/FinancialImpactPoint'

    FinancialImpactResponse:
      type: object
      properties:
        hazardType:
          type: string
        projections:
          type: array
          items:
            $ref: '#/components/schemas/FinancialImpactScenario'
        description:
          type: string
        # AI Agent AAL 분석 상세 정보
        aalAnalysis:
          type: object
          description: Average Annual Loss 분석 결과
          properties:
            probability:
              type: number
              format: float
              description: 재난 발생 확률 (0.0-1.0)
              example: 0.08
            damageRate:
              type: number
              format: float
              description: 손상률 (0.0-1.0)
              example: 0.15
            expectedLoss:
              type: number
              format: double
              description: 연평균 예상 손실액 (KRW)
              example: 125000000
            assetValue:
              type: number
              format: double
              description: 사업장 총 자산 가치 (KRW)
              example: 10000000000
            calculationMethod:
              type: string
              description: AAL 계산 방식
              example: P×D×A
              enum: [P×D×A]

    # Analysis - Vulnerability
    VulnerabilityItem:
      type: object
      properties:
        hazardType:
          type: string
          example: Extreme Heat
        score:
          type: integer
        level:
          type: string
          enum: [낮음, 보통, 높음]
        # AI Agent 취약성 분석 상세 정보
        buildingAge:
          type: integer
          description: 건물 연식 (년)
          example: 15
        seismicDesign:
          type: boolean
          description: 내진 설계 여부
          example: true
        firetruckAccessibility:
          type: string
          description: 소방차 진입 가능성
          example: 양호
          enum: [불가, 제한적, 양호, 우수]
        vulnerabilityFactors:
          type: array
          description: 취약성 요인 목록
          items:
            type: object
            properties:
              factor:
                type: string
                example: 건물 노후화
              impactScore:
                type: number
                format: float
                description: 영향도 (0.0-1.0)
                example: 0.35

    VulnerabilityResponse:
      type: object
      properties:
        totalScore:
          type: integer
        siteInfo:
          type: object
          properties:
            type:
              type: string
            builtYear:
              type: integer
            structure:
              type: string
            lat:
              type: number
            lon:
              type: number
        details:
          type: array
          items:
            $ref: '#/components/schemas/VulnerabilityItem'

    # AI Agent 분석 작업 추적 스키마 (비동기 실행 지원)
    AnalysisJob:
      type: object
      description: AI Agent 분석 작업 상태 추적
      properties:
        jobId:
          type: string
          description: 분석 작업 고유 ID
          example: job_20251113_001
        siteId:
          type: string
          description: 대상 사업장 ID
        status:
          type: string
          description: 작업 상태
          enum: [queued, data_collection, vulnerability_analysis, risk_analysis, report_generation, validation, completed, failed]
          example: risk_analysis
        currentNode:
          type: string
          description: 현재 실행 중인 워크플로우 노드
          example: physical_risk_score
          enum: [data_collection, vulnerability_analysis, physical_risk_score, aal_analysis, risk_integration, report_template, impact_analysis, strategy_generation, report_generation, validation, finalization]
        progress:
          type: integer
          description: 진행률 (0-100)
          example: 45
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        estimatedCompletionTime:
          type: string
          format: date-time
        error:
          type: object
          description: 오류 정보 (실패 시)
          properties:
            code:
              type: string
            message:
              type: string
            node:
              type: string
              description: 오류 발생 노드
        agentExecutionDetails:
          type: object
          description: AI Agent 실행 상세 정보
          properties:
            totalAgents:
              type: integer
              description: 전체 에이전트 수
              example: 25
            completedAgents:
              type: integer
              description: 완료된 에이전트 수
              example: 13
            subAgentStatus:
              type: array
              description: Sub Agent별 실행 상태
              items:
                type: object
                properties:
                  agentName:
                    type: string
                    example: HighTemperatureScoreAgent
                  status:
                    type: string
                    enum: [pending, running, completed, failed]
                  executionTime:
                    type: number
                    description: 실행 시간 (초)

    # Analysis - Total (특정 Hazard 통합)
    AnalysisTotalResponse:
      type: object
      properties:
        overview:
          type: object
          description: 물리적 리스크 개요 정보
          properties:
            mainHazard:
              type: string
              example: 태풍
            mainHazardScore:
              type: integer
              example: 70
            expectedDamageRate:
              type: number
              example: 0.17
            physicalRiskScores:
              type: array
              items:
                $ref: '#/components/schemas/PhysicalRiskBarItem'
        pastEvents:
          type: object
          description: 선택된 Hazard 관련 과거 재난 분석
          properties:
            summary:
              $ref: '#/components/schemas/PastEventSummary'
            events:
              type: array
              items:
                $ref: '#/components/schemas/PastEventItem'
        sspProjection:
          type: object
          description: SSP 시나리오 기반 특정 Hazard의 미래 리스크 전망
          properties:
            hazardType:
              type: string
            timeScale:
              type: string
              example: 장기
            projections:
              type: array
              items:
                $ref: '#/components/schemas/SSPScenarioProjection'
            adaptationActions:
              type: array
              items:
                type: string
        financialImpact:
          type: object
          description: 특정 Hazard에 대한 SSP 시나리오 기반 재무 영향
          properties:
            hazardType:
              type: string
            projections:
              type: array
              items:
                $ref: '#/components/schemas/FinancialImpactScenario'
            description:
              type: string
        vulnerability:
          type: object
          description: Hazard 취약성 분석
          properties:
            totalScore:
              type: integer
            siteInfo:
              type: object
              properties:
                type:
                  type: string
                builtYear:
                  type: integer
                structure:
                  type: string
                lat:
                  type: number
                lon:
                  type: number
            details:
              type: array
              items:
                $ref: '#/components/schemas/VulnerabilityItem'

paths:
  # ==========================================
  # AI Agent Analysis Endpoints
  # ==========================================

  /sites/{siteId}/analysis/overview:
    get:
      tags: [Analysis]
      security: [{ bearerAuth: [] }]
      summary: 사업장 물리적 리스크 개요
      description: AI Agent가 분석한 물리적 리스크 개요 정보 (H×E×V 기반 점수)
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 개요 정보
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisOverviewResponse'
        '404':
          description: 사업장을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sites/{siteId}/analysis/past-events:
    get:
      tags: [Analysis]
      security: [{ bearerAuth: [] }]
      summary: 과거 재난 이력
      description: AI Agent가 분석한 과거 기후 재난 이력
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 과거 재난
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PastEventsResponse'
        '404':
          description: 사업장을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sites/{siteId}/analysis/ssp:
    get:
      tags: [Analysis]
      security: [{ bearerAuth: [] }]
      summary: SSP 시나리오별 리스크 전망
      description: AI Agent가 분석한 SSP 기후 시나리오별 미래 리스크 전망
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
        - in: query
          name: hazardType
          schema:
            type: string
          description: 폭염, 홍수 등
        - in: query
          name: timeScale
          schema:
            type: string
            example: 장기
      responses:
        '200':
          description: SSP 리스크 전망
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSPProjectionResponse'
        '404':
          description: 사업장을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sites/{siteId}/analysis/financial-impacts:
    get:
      tags: [Analysis]
      security: [{ bearerAuth: [] }]
      summary: SSP 시나리오별 재무 영향
      description: AI Agent AAL 분석 기반 SSP 시나리오별 재무 영향 (P×D×A)
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
        - in: query
          name: hazardType
          schema:
            type: string
            example: 태풍
      responses:
        '200':
          description: 재무 영향
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancialImpactResponse'
        '404':
          description: 사업장을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sites/{siteId}/analysis/vulnerability:
    get:
      tags: [Analysis]
      security: [{ bearerAuth: [] }]
      summary: 취약성 분석
      description: AI Agent가 분석한 사업장 취약성 (건물 연식, 내진 설계, 소방차 진입)
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 취약성 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityResponse'
        '404':
          description: 사업장을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sites/{siteId}/analysis/total:
    get:
      tags: [Analysis]
      security: [{ bearerAuth: [] }]
      summary: 특정 Hazard 기준 사업장 전체 분석 결과(통합)
      description: AI Agent가 분석한 특정 기후 리스크에 대한 종합 분석 결과
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
        - in: query
          name: hazardType
          required: true
          schema:
            type: string
          description: 예) 태풍, 폭염, 홍수 등
        - in: query
          name: timeScale
          schema:
            type: string
            example: 장기
          description: SSP 시간 스케일(단기/중기/장기 등)
      responses:
        '200':
          description: 통합 분석 결과
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisTotalResponse'
        '404':
          description: 사업장을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==========================================
  # AI Agent 비동기 작업 관리 엔드포인트
  # ==========================================

  /sites/{siteId}/analysis/jobs:
    post:
      tags: [Analysis]
      security: [{ bearerAuth: [] }]
      summary: AI Agent 분석 작업 시작 (비동기)
      description: >
        사업장에 대한 AI Agent 물리적 리스크 분석을 비동기로 시작합니다.
        LangGraph 워크플로우 (25개 에이전트)가 백그라운드에서 실행되며,
        jobId를 통해 진행 상태를 추적할 수 있습니다.

        워크플로우 순서:
        1. 데이터 수집
        2. 취약성 분석
        3. 물리적 리스크 점수 (H×E×V, 병렬)
        4. AAL 분석 (P×D×A, 병렬)
        5. 리스크 통합
        6. 리포트 템플릿 생성
        7. 영향 분석 (전력 사용량 기반)
        8. 대응 전략 생성 (LLM+RAG)
        9. 리포트 생성
        10. 검증 (최대 3회 재시도)
        11. 최종화
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                hazardTypes:
                  type: array
                  description: 분석할 리스크 유형 (미지정시 전체 9개)
                  items:
                    type: string
                  example: [폭염, 태풍, 홍수]
                priority:
                  type: string
                  description: 작업 우선순위
                  enum: [low, normal, high]
                  default: normal
      responses:
        '202':
          description: 분석 작업 시작됨
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisJob'
        '404':
          description: 사업장을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: 이미 실행 중인 작업이 있음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /sites/{siteId}/analysis/jobs/{jobId}:
    get:
      tags: [Analysis]
      security: [{ bearerAuth: [] }]
      summary: AI Agent 분석 작업 상태 조회
      description: >
        실행 중인 AI Agent 분석 작업의 현재 상태, 진행률, Sub Agent 실행 정보를 조회합니다.
        25개 에이전트의 개별 실행 상태를 확인할 수 있습니다.
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
        - in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 작업 상태
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisJob'
        '404':
          description: 작업을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags: [Analysis]
      security: [{ bearerAuth: [] }]
      summary: AI Agent 분석 작업 취소
      description: 실행 중인 AI Agent 분석 작업을 취소합니다.
      parameters:
        - in: path
          name: siteId
          required: true
          schema:
            type: string
        - in: path
          name: jobId
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 작업 취소 완료
        '404':
          description: 작업을 찾을 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: 이미 완료되어 취소할 수 없음
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
